@tailwind base;
@tailwind components;
@tailwind utilities;

   
   body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
  
    /* --background: var(--blue);
    --accent: var(--white);
  
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    padding-bottom: 100px; */
  }
  
 
  
  ul {
    display: flex;
    height: 500px;
    /* overflow-x: scroll; */
    padding: 20px 0;
    /* flex: 0 0 600px; */
    /* margin: 0 auto; */
  }
  
  /* ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #fff3;
  } */
  


  
  li {
    flex: 0 0 300px;
    background: var(--accent);
    margin: 0 20px 0 0;
  }


  .burger {
    width: 22.5px;
    position: relative;
    pointer-events: none;
  }
  
  .burger::after,
  .burger::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .burger::after {
    top: -4px;
  }
  
  .burger::before {
    top: 4px;
  }
  
  .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
  }
  
  .burgerActive::before {
    transform: rotate(-45deg);
    top: 1px;
  }
  
  
  @media only screen and (min-width: 1000px) {
    .md\:mb-0 {
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (min-width: 1000px) {
    .md\:text-5xl {
      font-size: 5vw !important;
    }
    .md\:pt-10 {
      padding-top: 2vw !important;
    }
    .md\:pr-8 {
      padding-right: 2vw !important;
    }
    .md\:mt-80 {
      margin-top: 80px !important;
    }
  }

  @media only screen and (min-width: 1000px) {
    .md\:w-1\/2 {
      width: 50% !important;
    }
    .md\:w-auto {
      width: auto !important;
    }
    .md\:justify-content-between {
      justify-content: space-between !important;
    }
  }
  
  .scroll-container {
    position: fixed;
    left: 0;
    right: 0;
    will-change: transform;
 }
  /* .scroll-container .ghost {
    width: 100vw;
 } */
  .thumbnails-container {
    position: relative;
    height: 30vh;
    width: max-content;
    display: flex;
    align-items: center;
 }
  .thumbnails-container .thumbnails {
    position: relative;
    display: flex;
 }
  .thumbnails-container .thumbnails > *:not(:last-child) {
    margin-right: 150px;
 }
  .thumbnails-container .thumbnails .thumbnail {
    height: 35vh;
    /* width: 435px; */
 }
  